<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/room.css')}}">
</head>
<body>
    
    <header>
        <div class="container-header">
            <p id="name-user">my name</p>
            <button id="button-name-user">cambiar</button>
        </div>
    </header>

    <div class="container-chat">
        <div class="container-contacts" id="container-contacts">
        </div>
        <div class="container-messages">
            <div class="container-show">
                <p class="p-show-message" id="p-show-message"></p>
            </div>
            <div class="container-input" id="container-input">
                <p class="p-input-message" id="input-message" contenteditable="true">
                    
                </p>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.js"></script> 
    <script src="{{url_for('static',filename='js/room.js')}}"></script>

</body>
</html>